.chat-message {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.chat-message.user {
    justify-content: flex-end;
}

.chat-message.bot {
    justify-content: flex-start;
}

.message-bubble {
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word; /* 텍스트가 넘칠 경우 자동으로 줄 바꿈 */
    white-space: pre-wrap; /* 공백과 줄 바꿈을 유지 */
}

.message-bubble.user {
    background-color: #d1c4e9;
    text-align: right;
}

.message-bubble.bot {
    background-color: #e0f7fa;
    text-align: left;
}

.bot-info {
    display: flex;
    align-items: center;
}

.bot-image {
    width: 40px;
    height: 40px;
    margin-right: 10px;  /* "항만공사챗봇" 문구와의 간격 조절 */
}

.bot-name {
    font-weight: bold;
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    font-size: 10px;  /* 글자 크기 조절 */
}
